      <article class="message is-medium block">
        <div class="message-header">
          <p>A. Tick the right answer</p>
        </div>
        <div class="message-body">
          <h3>
            <strong>
            1. Laddakh is famous for:
            </strong>
          </h3>
          <p>(a) Apricots</p>
          <p>(b) Mangoes</p>
          <b>Answer:</b> (a) Apricots
        </div>
        <div class="message-body">
          <h3>
            <strong>
            2. Allahabad is famous for:
            </strong>
          </h3>
          <p>(a) Guavas</p>
          <p>(b) Litchis</p>
          <b>Answer:</b> (a) Guavas
        </div>
        <div class="message-body">
          <h3>
            <strong>
            3. Kashmir is famous for:
            </strong>
          </h3>
          <p>(a) oranges </p>
          <p>(b) apples </p>
          <b>Answer:</b> (b) apples
        </div>
        
        <!-- <div class="message-header"> -->
        <!--   <p>B. Choose the right word from the box and fill in the blanks:</p> -->
        <!-- </div> -->
        <!-- <div class="message-body"> -->
        <!--   <div class="tags"> -->
        <!--      -->
        <!--   <span class="tag is-link is-3"> Nepal </span> -->
        <!--   <span class="tag is-success"> Cactus </span> -->
        <!--   <span class="tag is-danger"> K2 </span> -->
        <!--   <span class="tag is-warning"> populated </span> -->
        <!--   </div> -->
        <!--   <div class="block"> -->
        <!--      -->
        <!--   </div> -->
        <!--   <div class="block"> -->
        <!--    <h5>1. The great Indian desert is not thickly <u>populated</u> </h5> -->
        <!--   </div> -->
        <!--   <div class="block"> -->
        <!--     <h5>2. Mount Everest is in <u>Nepal</u></h5> -->
        <!--   </div> -->
        <!--   <div class="block"> -->
        <!--     <h5>3. <u>Cactus</u> grow in desert</h5> -->
        <!--   </div> -->
        <!--   <div class="block"> -->
        <!--     <h5>4. <u>K2</u> is the highest peak in India</h5> -->
        <!--   </div> -->
        <!-- </div> -->
        <div class="message-header">
          <p>B. Write 'T' for true 'F' false</p>
        </div>
        <div class="message-body">
          <h3>1. Moong, Urad and rajma are fuits. <span class="tag is-danger block">F</span></h3>
          <h3>2. Bananas are available throughout the year. <span class="tag is-success block">T</span></h3>
          <h3>3. Idli, sambhar are south Indian dishes. <span class="tag is-success block">T</span></h3>
          <h3>4. Clove mean Dhania. <span class="tag is-danger block">F</span></h3>
          
        </div>
        
        
        <div class="message-header">
          <p>C. Match the following dishes with the states: </p>
        </div>
        <div class="message-body">
          <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth ">
            <thead>
            <tr>
              <th>Dishes</th>
              <th>States</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td>1. Pav Bhaji</td>
                <td>(d) Maharashtra</td>
              </tr>
              <tr>
                <td>2. Rasogulla</td>
                <td>(c) West Bengal</td>
              </tr>
              <tr>
                <td>3. Dal Bati</td>
                <td>(a) Rajasthan</td>
              </tr>
              <tr>
                <td>4. Makke di Roti & Saag</td>
                <td>(b) Punjab</td>
              </tr>
            </tbody>
            
          </table>
        </div>
        <div class="message-header">
          <p>D. Name them </p>
        </div>
        <div class="message-body">
          <h6><b>Two pulses</b></h6>
          <p><u><i>Moong and Urad</i></u></p>
        </div>
        <div class="message-body">
          <h6><b>Two vegetables</b></h6>
          <p><u><i>Potato and Tomato</i></u></p>
        </div>

        <!-- article section ends here -->
      </article>

      

