    <!-- breadcrumbs -->
    <!-- <div class="mt-6"> -->
    <!--   <nav class="breadcrumb is-centered has-succeeds-separator"> -->
    <!--     <ul> -->
    <!--       <li routerLinkActive="is-active"> -->
    <!--         <a routerLink="/qanswers4">Chapter 4</a> -->
    <!--       </li> -->
    <!--       <li routerLinkActive="is-active"> -->
    <!--         <a routerLink="/qanswers6">Chapter 6</a> -->
    <!--       </li> -->
    <!--     </ul> -->
    <!--   </nav> -->
    <!-- </div> -->

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-3">
     <!-- this column is empty    -->
      </div>
      <div class="column is-6">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="../../../assets/images/dp_thumb.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Barun Ghosh</p>
                <p class="subtitle is-6">@barungh</p>
              </div>
            </div>

            <div class="content">
              Click below on appropriate links
              to see solutions of of related chapters
              <br>
               <a>#class3 </a>
              <a href="#">#demdema </a> <a href="#">#deepjyotiacademy</a>
              <br>
              <time datetime="2021-09-07">11:09 PM - 07 Sep 2021</time>
            </div>
          </div>
        </div>
        <!-- card class end -->
        <div class="card mt-3">
         <div class="card-content">
           <div class="content">
             <button class="button is-link is-outlined ml-2">Chapter 4</button>
             <button class="button is-link is-outlined ml-2">Chapter 6</button>
             <button class="button is-link is-outlined ml-2">Chapter 8</button>
           </div>
         </div> 
        </div>
        
      </div>
      <!-- middle column ends -->
      <div class="column is-3">
       <!-- this column is empty  -->
      </div>
    </div>
  </div>
</section>
